body {
    background-color: rgb(46, 45, 40);
}



.navbar_style {
    background-color: rgb(0, 0, 0);
}


.card_style {
    border: 1px solid black;
}

.card_contact {
    background-color: rgb(252, 246, 168);
    border-left: 1px solid black;
    border-right: 1px solid black;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.75);
}